body {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-stretch: ultra-expanded;
    font-size: 2rem;
}

a:active {
    color: orange;
}

a:hover {
    color: greenyellow;
}